<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Server Dischi</title>
	<link rel="stylesheet" href="./assets/style.css">
	<script src="https://unpkg.com/vue@3/dist/vue.global.js" defer></script>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"
		defer></script>
	<script src="./assets/script.js" defer></script>
</head>

<body>

	<div id="app">

		<header>
			<div class="logo">
				<img src="./assets/img/logo.png" alt="">
			</div>
		</header>

		<main>
			<div v-for="album in albums" class="cards" @click="selectAlbum(album)">
				<div class=" card">
					<img :src="getSrc(album)" alt="">
					<p class="title">{{ album.titolo }}</p>
					<p class="author">{{ album.autore }}</p>
					<p class="year">{{ album.anno }}</p>
				</div>
			</div>

			<!-- Overlay on click -->
			<div class="overlay" v-if="selectedAlbum" @click="selectedAlbum = null">
				<img :src="getSrc(selectedAlbum)" alt="">

				<h2>{{ selectedAlbum.titolo }}</h2>
				<p>{{ selectedAlbum.autore }}</p>
			</div>

		</main>

	</div>

</body>

</html>
