<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Server Dischi</title>
	<link rel="stylesheet" href="./assets/style.css">
	<script src="https://unpkg.com/vue@3/dist/vue.global.js" defer></script>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"
		defer></script>
	<script src="./assets/script.js" defer></script>
</head>

<body>

	<div id="app">

		<header>
			<div class="logo">
				<img src="./assets/img/logo.png" alt="">
			</div>
		</header>

		<main>
			<div v-for="album in albums" class="cards" @click="selectAlbum(album)">
				<div class=" card">
					<img :src="getSrc(album)" alt="">
					<p class="title">{{ album.titolo }}</p>
					<p class="author">{{ album.autore }}</p>
					<p class="year">{{ album.anno }}</p>
				</div>
			</div>

			<!-- Overlay on click -->
			<div class="overlay" v-if="selectedAlbum" @click="selectedAlbum = null">
				<div class="overlay-content">

					<!-- Copertina centrata -->
					<img :src="getSrc(selectedAlbum)" class="album-cover">

					<!-- Dettagli a sinistra -->
					<div class="album-details">
						<h2>{{ selectedAlbum.titolo }}</h2>
						<h3>{{ selectedAlbum.autore }}</h3>
						<p>{{ selectedAlbum.anno }}</p>
						<p class="description">Prodotto da:</p>
						<p class="text">{{ selectedAlbum.produttore }}</p>
						<p class="description">Per:</p>
						<p class="text">{{ selectedAlbum.etichetta }}</p>
					</div>

					<!-- Tracklist e durata a destra -->
					<div class="tracklist">
						<h3>Tracklist</h3>
						<ul>
							<li v-for="(track, index) in selectedAlbum.tracklist">
								<span class="track-number">{{ index + 1 }}.</span>
								<span class="track-title">{{ track.nome }}</span>
								<span class="track-duration">{{ track.durata }}</span>
							</li>
						</ul>

					</div>
				</div>
			</div>


		</main>

	</div>

</body>

</html>
