@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	/* variables */
	--bkg-color: #1d2d3c;
	--bkg-header: #06131f;
	--bkg-cards: #112030;
	--header-height: 10vh;

	/* Font family */
	font-family: 'Noto Sans', sans-serif;
	color: white;
}

body {
	background-color: var(--bkg-color);
}


header {
	height: var(--header-height);
	background-color: var(--bkg-header);
}

header .logo {
	display: flex;
	justify-content: start;
	align-items: center;
	height: 100%;
	width: 65vw;
	margin-inline: auto;
}

header img {
	height: 20%;
	aspect-ratio: 1 / 1;
	color: #18d860;
}

main {
	width: 55vw;
	height: calc(100vh - var(--header-height) - 6rem);
	margin: 2rem auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	justify-content: space-between;
	align-content: center;
	row-gap: 2rem;
	column-gap: 4rem;
}

main .card {
	background-color: var(--bkg-cards);
	box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.4);
	padding: 1rem;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	cursor: pointer;
}

main .card img {
	width: 65%;
	aspect-ratio: 1 / 1;
	object-fit: cover;
	object-position: center center;
	border: 2px solid white;
}

main .card .title {
	text-align: center;
	font-size: 1.3rem;
	font-weight: bold;
}

main .card .author {
	font-size: 0.9rem;
}

main .card .year {
	font-size: 1.1rem;
	font-weight: bold;
}

.overlay {
	padding-top: 5rem;
	display: flex;
	justify-content: center;
	align-content: flex-start;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(4, 14, 24, 0.97);
}

.overlay-content {
	display: grid;
	grid-template-areas:
		"cover cover cover"
		"details . tracklist";
	grid-template-columns: 3fr 1fr 3fr;
	grid-template-rows: auto 1fr;
	color: white;
	width: 70vw;
	margin-inline: auto;
}

.album-cover {
	grid-area: cover;
	width: 15vw;
	max-height: 15vw;
	aspect-ratio: 1 / 1;
	object-fit: cover;
	justify-self: center;
	margin-bottom: 3rem;
}

.album-details {
	grid-area: details;
	justify-self: center;
	text-align: center;
	line-height: 2.5rem;
}

.album-details .description {
	color: lightgray;
	text-transform: uppercase;
	font-size: 0.8rem;
	margin-top: 1rem;
}

.album-details .text {
	color: white;
	font-size: 1.15rem;
}

.tracklist {
	grid-area: tracklist;
	justify-self: center;
	align-self: flex-start;
}

.tracklist h3 {
	font-size: 1.5rem;
	margin-bottom: 1.5rem;
	text-align: center;
}

.tracklist .title {
	font-size: 0.9rem;
	line-height: 1.5rem;
}

.tracklist ul {
	list-style-type: none;
	padding: 0;
}

.tracklist li {
	display: flex;
	justify-content: space-between;
	font-size: 0.85rem;
	line-height: 1.5rem;
}

.track-number {
	text-align: right;
	width: 3ch;
}

.track-title {
	text-align: left;
	flex-grow: 1;
	margin-inline: 0.5rem;
}

.track-duration {
	text-align: right;
	width: 10ch;
}
